.contact-container-bg p {
     color:black;
     text-align: center;
     font-size:90px;
     margin-top:140px;
     font-weight:100;
     padding-bottom: 50px;
 }

.contact-container-bg h5{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 23px;
}
