html, body {

  min-width:100%;
  min-height:100%;
  width: 100%;
  height: 100%;
}
.canvas {
  position:fixed;
  z-index: 2;
  background:rgba(0,0,0,0.5);
  min-width:100%;
}
.background_change {
  animation: background 1s linear forwards 1;
}
.background {
  background:rgba(200,0,0,0.5);

}

.qt {
  font-weight: lighter;

}


.input:hover ~ h1 {
  color: red;
}
.email_sub {

  margin: 0 auto ;
  width: 150px;
  height: 150px;
  margin-top: 200px;
  cursor: pointer;
}

.contact {
  text-align: center;
  font-family: cool;
  pointer-events: none;
  text-align: center;
  font-size: 60px;
  color: white;
  display: block;
  margin-top: 100px;
  color: black;
  opacity: 0;
  cursor: pointer;
  position: relative;
}


.email_go {

}

.blur {
  animation: videoAni 2.8s ease-in-out forwards 1;

}



@keyframes videoAni {
  0% {
    -webkit-filter: blur(0px); filter: blur(0px);
    transform: scale(1);

  }
  100% {
    -webkit-filter: blur(30px); filter: blur(30px);
    transform: scale(2.5);
  }
}
.back_about {
  -webkit-filter: blur(10px); filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.email_go > h1  {
  font-size: 60px;
  margin-left: 140px;
  font-family: cool ;
  color: rgb(200,100,50);
  pointer-events: none;

}

.space_press {
  position: absolute;
  top: 83.5%;
  z-index: 2;
  width:40%;
  width: 0px;
  height: 5px;
  overflow: hidden;
  background: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;

  z-index: 99999999999999999999999;
}



@keyframes background {
  0%{
    background:rgba(125,125,125,1);

  }
  100% {
    background: rgba(0,0,0,0.2);

  }
}


.pics {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;

}

.pics > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: rotate(180deg);
}

.zoom {
  animation: zoom 4s linear 1 forwards;
}

@keyframes zoom {
  0% {

    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.text {
  position: absolute;
  top:92%;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 4;
}

.text > p {
  float: right;
  color: rgba(200,200,200,1);
  font-size: 15px;
  margin-right: 40px;
  font-weight: bold;
}
.text > p > img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.copyright {
  float:left !important;
  margin-left: 40px;
}
.copyright > img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  float: left;

}


.btn {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9999999999999999999900000000000;
}

@keyframes circle_to_oval {
  0% {
    width: 0px;
    height: 0px;
    border-radius: 100%;
    margin-left: 50%;
    border: none;

  }
  60% {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-left: 47%;
    border: 2px solid white;


  }
  100%{
    border-radius: 100%;
    width: 130px;
    height: 70px;
    margin-left: 45%;
    border: 2px solid white;

  }


}

.spacebar {
  font-weight: bold;
  cursor:pointer;
  opacity: 0;
  display: inline;
}
.spacebar1 {
  color:rgb(255,100,70);

  opacity: 0;
}
.spacebar2 {
  opacity: 0;
}

.show {
  animation: show 400ms ease-in-out forwards 1;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.new_input {
  background: black;
  width: 200px;
  height: 200px;
}

.video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;


}

.nogray {
  animation: gray 1500ms ease-in-out forwards 1;
}
@keyframes gray {
  0% {
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

  }
  100% {
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */


  }
.header{
  display: inline-block;
  text-align: center;
  width: 123px;
  background: green;
  border-radius: 4px 4px 4px 4px;
  height: 80px;
  vertical-align: middle;

}
}


.header_info {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;

}
.head {
  text-align: center;
  color:white;
  font-size: 18px;
  position: absolute;
  top: 70%;
  left: 0;
  bottom: 15px;
  text-align: center;
  width: 100%;
  font-weight: lighter;

}
.begin {
  text-align: center;
  color:white;
  font-size: 18px;
  position: absolute;
  top: 79%;
  left: 0;
  bottom: 15px;
  text-align: center;
  width: 100%;
  font-weight: lighter;
  font-weight: bold;
}
.logo {
  width: 100px;
  height: 100px;
  display:block;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top: 0px;
  margin:auto;
  transition: all 500ms ease-in-out

}






.top_level {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 99999999;
}
.top_level > h1 {
  text-align: center !important;
  position: relative;
  font-weight: lighter;
  font-size: 35px;
  margin-top:180px ;
  font-family: 'Lobster', cursive;
}
.top_level > p {
  text-align: center;
  color: rgba(220,220,220,0.7);
  font-size: 13px;
}

.svg {
  transform: translateY(-90px);
  position: fixed;
  pointer-events: none;
  display: block;
  margin: auto;

}

.active {
  font-weight:bold;
  border-bottom: 2px solid black;
}

.canvas {
  display:none;
}

#header_info {
  pointer-events: none !important;
}
.studios {
background:black;
}




@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

  h2 a{
    font-size:80px !important;
    font-weight: lighter;
    display: block;
    text-align: center;
    margin-top: 7px;
  }

  .svg{
    transform: translateY(100px);
  }
}


@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {

  h2 {
    font-size:40px !important;
  }

  .svg{
    transform: translateY(350px);
  }

}


/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.video > video{

  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;

}

.p {
  text-align: center;
  font-size: 30px;
  color:white;
  font-weight: bold;
}

.p1 {
  float: left;
  font-size: 20px;
  color:white;
  margin-left: 20px;
}

.btn {
  cursor: pointer;
  z-index: 99999999999999999;
  background: red;
}

.p2 {
  float: right;
  color:white;
  font-size: 20px;
  margin-right: 20px;
}
p {
  font-family: 'Open Sans Condensed', sans-serif;

}
h1 {
  text-align: center;
  font-size: 65px;
  color:white;
  position: absolute;

}

.hamburger {
  float: right;
  margin-right: 140px;
  margin-top: 70px;
  z-index: 99999999999999999999999999999999999999999999999999;
}

.hamburger:hover {
  color: blue;
  cursor: pointer;
}



.about_kemi {
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999;
  text-decoration: none;
}



.stuff {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200,0,0,0.5);
}

.nav {
  margin-top: 360px;
  width: 100%;
  height: auto;
  text-align: center;
  text-decoration: none;

}
.nav > h2 > span{
  display: inline;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-left: 30px ;
  cursor: pointer;
  color: white;
  font-family: cool;


}

.nav > h2 > span:hover {
  text-decoration: none;
  color: rgb(190,190,190);

}

.nav > h2 {
  display: inline;
  cursor: pointer;
  text-decoration: none;
}



.underneath {
  width: 100px;
  height: 100px;
  margin-top: 100px;

}
h2 > span {
  transition: color 200ms ease-in-out;

}

.exit {
  position: fixed;
  float: right;
  left: 86.5%;
  top: 70px;
  z-index: 99999999999999999999999999999999;
  cursor: pointer;



}

.spinning {
  animation: spinning 700ms ease-in-out infinite;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {

    transform: rotate(360deg);
  }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999999999999999999999999999999999999999;
  background: black;

}

a {
  text-decoration: none;
  color: inherit;
}
a:hover
{
  text-decoration:none;
  cursor:pointer;
  color: rgb(190,190,190);

}
.hamburger {
  transition: transform 300ms ease-in-out;
}
.hamburger:hover {
  transform: rotateX(40deg);
}
.exit:hover {
  transform: rotateX(40deg);
}
.exit {
  transition: transform 300ms ease-in-out;
}



.about_kemi > h2 > span:hover{
  text-decoration: none;
  color: rgb(200,100,50);
}


.opac {
  animation: opac1 700ms cubic-bezier(.03,1.53,.78,1.35) forwards 1;
}

@keyframes opac1 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}




.route-enter, .route-appear {
  opacity: 0;
}

.route-leave {
  opacity:1;
  background:red;
}

.route-appear {
  opacity: 0;
  animation: slideUp 0.6s cubic-bezier(0.165,0.84,0.44,1);
}

.go-enter, .go-appear {
  opacity: 0;
}

.go-leave {
  opacity:1;
  background:red;
}

.go-appear {
  opacity: 0;
  animation: slideLeft 0.6s cubic-bezier(0.165,0.84,0.44,1);
}


@keyframes slideUp {
  0%{
    opacity:0;
    transform: translate3d(0,30px,0);

  }
  100%{
    opacity:1;
    transform: translate3d(0,0,0);
  }
}

@keyframes slideLeft {
  0%{
    opacity:0;
    transform: translateX(30px);

  }
  100%{
    opacity:1;
    transform: translateX(0px);
  }
}

