.resume {
    margin-top:120px;
    background: linear-gradient(0deg, #ffe593, white);
}

.resume h2 {
    font-size:40px;
    margin-left:30px;
}

.resume-h2 {
    font-size:70px !important;
    text-align:center;
}
.resume ul {
    display: block;
    margin: 0 auto;
}

li {
    font-size:24px;
    line-height: 40px;
}